.playoff-bracket .bracket {
  min-height: 505px;
  overflow-x: auto;
  overflow-y: auto;
}

.playoff-bracket .matchup {
  width: 248px;
}

.playoff-bracket .connector {
  position: absolute;
  left: -15px;
  top: 50%;
  border-left: 3px solid #FFFDFC;
  pointer-events: none;
}

.playoff-bracket .merger-right {
  position: absolute;
  right: -15px;
  bottom: 50%;
  width: 15px;
  border-bottom: 3px solid #FFFDFC;
  pointer-events: none;
}

.playoff-bracket .merger-left {
  position: absolute;
  left: -15px;
  bottom: 50%;
  width: 15px;
  border-bottom: 3px solid #FFFDFC;
  pointer-events: none;
}
